.btn-compare_lisaviet{
  background: $color-main-lisaviet;
  border-radius: 0;
  font-size: 14px;
  font-weight: 500;
  text-transform:  uppercase;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  color: #fff;
}